name: Linux
run-name: ${{ github.actor }} build Linux App
on:
  push:
    branches:
      - master
    tags: [ 'v*' ]

jobs:
  build:
    strategy:
      matrix:
      os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Utilisez repo
        uses: actions/checkout@v4

      - name: Projet Python
        uses: actions/setup-python@v5

        with:
          python-version: '3.12'
          cache: 'pip'
          cache-dependency-path: |
            **/dep*.txt

      - name: Installation des dépendances
        run: |
          pip install -r dep.txt

      - name: Compilation avec Nuitka3
        uses: Nuitka/Nuitka-Action@main
        with:
          nuitka-version: main
          script-name: src/main.py
          mode: onefile
          enable-plugins: |-
            pyside6
          include-data-dir: |
            src/theme=./theme
          include-package: |
            APP
            theme
          output-filename: Pygame IDE

      - name: Charger Artéfact
        uses: action/upload-artifact@v4
        with:
          name: ${{ runner.os }} Build
          path: |
            build/*.bin
          include-hidden-files: true

      - name: Création du release
        id: create_release
        uses: actions/create-release@v1
        with:
          tag_name: ${{ github.ref_name }}
          release_name: v${{ github.ref_name }}

      - name: Packager Build
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: main.onefile-build/
          asset_name: PygameIDE-linux-x64.zip  # Zipez si dossier
          asset_content_type: application/zip