name: Linux
run-name: ${{ github.actor }} build Linux App
on:
  push:
    branches:
      - master

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}
    permissions:
      contents: write

    steps:
      - name: Utilisez repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Versionnage Sémantique Automatique
        id: versioning
        uses: paulhatch/semantic-version@v5.3.0
        with:
          major_pattern: "(MAJOR)"
          minor_pattern: "(MINOR)"
          version_format: "${major}.${minor}.${patch}"
          bump_each_commit: true

      - name: Projet Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'
          cache-dependency-path: |
            **/dep*.txt

      - name: Installation des dépendances
        run: |
          python -m pip install --upgrade pip
          pip install -r dep.txt

      - name: Vérification des dépendances
        run: |
          pip list
          python --version

      - name: Compilation avec Nuitka3
        uses: Nuitka/Nuitka-Action@main
        with:
          nuitka-version: main
          script-name: src/main.py
          mode: onefile
          enable-plugins: |-
            pyside6
          include-data-dir: |
            src/theme=./theme
          include-package: |
            APP
            theme
            engine
          output-file: Pygame-IDE

      - name: Vérification du Build
        run: |
          ls -l build/
          file build/Pygame-IDE

      - name: Charger Artéfact
        uses: actions/upload-artifact@v4
        with:
          name: Linux-Build-${{ steps.versioning.outputs.version }}
          path: build/Pygame-IDE
          retention-days: 5
          include-hidden-files: true

      - name: Zip le Build
        run: |
          ls ${{ github.workspace }}
          zip -rZ bzip2 PygameIDE-linux-x64-${{ steps.versioning.outputs.version }}.zip build/Pygame-IDE 
          ls ${{ github.workspace }}

      - name: Création du release
        uses: softprops/action-gh-release@v2
        with:
          files: PygameIDE-linux-x64-${{ steps.versioning.outputs.version }}.zip
          tag_name: v${{ steps.versioning.outputs.version }}
          name: Linux x64 v${{ steps.versioning.outputs.version }}
          body: |
            ## Changelog
            - Nouvelle version automatique
            - Build Linux x64
            - Version: ${{ steps.versioning.outputs.version }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}